@using HUTModels;
@using HUTWeb.Models;
@model HomeModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Use Tracker";
}

<div class="jumbotron">
    <h1>Home Use Tracker</h1>
    <h4 id="CurrentTime" class="CurrentTime"></h4>
</div>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            @Html.DropDownListFor(x => x.Persons, Model.Persons, new { @class = "dropdown" })

            <div>
                <br />
                @Html.TextBox("Weight", null, new { @id = "weightId", @type = "number" })

                <button class="btn btn-info" onclick="addWeight()" type="button">Add Weight</button>
            </div>
            <br />
            <div>
                @Html.TextBox("Calories", null, new { @id = "CalorieCountId", @type = "number" })

                <button class="btn btn-success" onclick="addCalories()" type="button">Add Calories</button>
            </div>
        }
    </div>
    <div class="col-md-4" id="totalCalories">
        <br />

    </div>
</div>



<script type="text/javascript">
    $('document').ready(function () {

        @* makes sure we get the local time according to where the browser is running *@
        var setTime = function () {            
            var m = new Date();
            var dateString = $.format.date(m, "MM/dd/yyyy HH:mm");

            $(".CurrentTime").text(dateString);
        }

        setTime();

        @* refresh clock every minute *@
        setInterval(setTime, 60000);
    })

    function addWeight() {
        var p = $("#Persons :selected").val();
        var wv = $("#weightId").val();
        var ct = $(".CurrentTime").text();

        var json = {
            personId: p,
            weightValue: wv,
            currentTime: ct
        };

        $.ajax({
            url: "@Url.Action("RecordWeight", "Home")",
            dataType: "json",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(json),
            async: false,
            processData: false,
            cache: false,
            success: function (data) {
                alert(data);
            }
        })
    }

    function addCalories() {
        var p = $("#Persons :selected").val();
        var cv = $("#CalorieCountId").val();
        var ct = $(".CurrentTime").text();

        var json = {
            personId: p,
            calorieValue: cv,
            currentTime: ct
        };

        $.ajax({
            url: "@Url.Action("RecordCalories", "Home")",
            dataType: "json",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(json),
            async: false,
            processData: false,
            cache: false,
            success: function (data) {
                $('#totalCalories').html(data);
            }
        })
    }
</script>